@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    font-family: "Audiowide", sans-serif;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 30px;
    height: 95vh;
    width: 95vw;
}
#p1 {
    font-size: x-large;
    margin: 0%;
}

#p2 {
    font-size: 10px;
    text-align: center;
}

input {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 25px;
    border: none;
    border-bottom: 1px solid rgb(85, 85, 85);
    background-color: rgb(211, 211, 211);
    outline: none;
}

a p {
    font-size: 10px;
}

a {
    height: 15px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 188ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a:hover {
    transition: 188ms;
    padding: 10px 36px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;

}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    #p1 {
        font-size: 3rem;
        margin: 0;
    }

    #p2 {
        font-size: 1rem;
    }

    input {
        height: 30px;
        width: 220px;
    }

    a {
        height: 30px;
        width: 100px;
    }

}

/* bg */
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 25vmin;
    height: 25vmin;
    border-radius: 25vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 42;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #00570a;
    top: 3%;
    left: 1%;
    animation-duration: 28s;
    animation-delay: -20s;
    transform-origin: 0vw 3vh;
    box-shadow: 50vmin 0 6.8866881425519875vmin currentColor;
}

.background span:nth-child(1) {
    color: #00570a;
    top: 78%;
    left: 71%;
    animation-duration: 28s;
    animation-delay: -2s;
    transform-origin: 13vw 16vh;
    box-shadow: -50vmin 0 7.040629011677486vmin currentColor;
}

.background span:nth-child(2) {
    color: #00570a;
    top: 52%;
    left: 88%;
    animation-duration: 46s;
    animation-delay: -59s;
    transform-origin: -5vw 6vh;
    box-shadow: 50vmin 0 6.513105481422253vmin currentColor;
}

.background span:nth-child(3) {
    color: #6a5c5c;
    top: 12%;
    left: 75%;
    animation-duration: 41s;
    animation-delay: -55s;
    transform-origin: 21vw 10vh;
    box-shadow: -50vmin 0 7.05065566573542vmin currentColor;
}

.background span:nth-child(4) {
    color: #00ff04;
    top: 36%;
    left: 86%;
    animation-duration: 26s;
    animation-delay: -31s;
    transform-origin: 2vw -19vh;
    box-shadow: 50vmin 0 6.570005512240725vmin currentColor;
}

.background span:nth-child(5) {
    color: #6a5c5c;
    top: 32%;
    left: 63%;
    animation-duration: 48s;
    animation-delay: -29s;
    transform-origin: 0vw 24vh;
    box-shadow: 50vmin 0 6.300373498125214vmin currentColor;
}

.background span:nth-child(6) {
    color: #00ff04;
    top: 88%;
    left: 13%;
    animation-duration: 35s;
    animation-delay: -3s;
    transform-origin: 14vw 25vh;
    box-shadow: 50vmin 0 6.633198541621395vmin currentColor;
}
